.contener_slideshow
{
 margin: 0 auto 1rem;
 width:37.5rem;
 height:24.625rem;
 overflow: hidden;
 position: relative;
}
.slid_1, .slid_2, .slid_3
{
 position: absolute;
 width:318.75rem;
 height:15.625rem;
}
.slid_1{
    left: 0;
}
.slid_2{
    left: 37.5rem;
}
.slid_3{
    left: 75rem;
}
.contener_slide
{
 width: 37.5rem;
 height: 18.75rem;
 left:0px;
 position: absolute;
 -webkit-animation-duration: 10s;
 -webkit-animation-iteration-count:infinite;
 -webkit-animation-name: anim_slide;
 -moz-animation-duration: 10s;
 -moz-animation-iteration-count:infinite;
 -moz-animation-name: anim_slide;
 -ms-animation-duration: 10s;
 -ms-animation-iteration-count:infinite;
 -ms-animation-name: anim_slide;
 animation-duration: 10s;
 animation-iteration-count:infinite;
 animation-name: anim_slide;
}
@-webkit-keyframes anim_slide 
{
 0% {left:0px;}
 33% {left:-37.5rem;}
 66% {left:-75rem;}
}
@-moz-keyframes anim_slide 
{
 0% {left:0px;}
 33% {left:-37.5rem;}
 66% {left:-75rem;}
}
@-ms-keyframes anim_slide 
{
 0% {left:0px;}
 33% {left:-37.5rem;}
 66% {left:-75rem;}
}
@keyframes anim_slide 
{
 0% {left:0px;}
 33% {left:-37.5rem;}
 66% {left:-75rem;}
}

@media (max-width:700px) {
    .contener_slideshow {
        display:none;
    }
}