* {
    box-sizing: border-box;    
}
body {
    font-family: 'Asap', sans-serif;
}
img{
    width:37.5rem;
    height:21.875em;
}
.button {
    height:100px;
    width:100;
    position:fixed;
    right:6px;
    bottom:20px;
    cursor:pointer;
}
.icone {
    width:50px;
    height:50px;
}
.container {
    width: 100%;
    margin: auto;
    padding-left:15.563rem;
    background:#fff;
    box-shadow:0 0 5px rgba(0,0,0,.1);
}

.header {
    width: 15.663rem;
    background: #f5f5f5;
    border-right: 1px solid rgba(0,0,0,.1);
    position: fixed;                    
    top: 0;                                
    left: 0;                               
    height: 100vh;                            
    z-index: 20;                           
}

.search {
    padding: 1rem 1rem 1rem;
    background: #f39c12;
}

.search-input {
    padding: .75rem 1rem;
    border: none;
    font-size:1.2em;
    width:100%;
    border-radius:2rem;
}

.search-button {
    padding: 1rem 0;
    margin: 1rem 1.5rem;
    border-radius: 1.875rem;
    border: none;
    background-color: #ddd;
    width:80%;
    transition: background-color 0.3s;
    text-transform: uppercase;
    text-align: center;
}

.title {
    font-size: 2em;
    font-weight: bold;
    border-bottom:3px solid #f39c12;
    padding-bottom:1rem;
}

.nav {
    padding: 2rem;
}

.nav-links {
    margin-top: 2rem;
}

.nav-item {
    font-size: 1.2em;
    margin: 4px;                 
}
.nav-item-link{
    text-transform: uppercase;         
    background-color: #ddd;          
    border-radius: 0.325rem;          
    padding:1rem 1rem 1rem;      
    display: inline-block;           
    width: 100%;                  
    transition: background-color 0.3s;  
}
.nav-item-link:hover{
    background-color: #f39c12;
    transition: background-color 0.3s; 
}

.search-button:hover {
    background-color:black;
    color: #f39c12;
    transition: background-color 0.3s; 
}

.nav-item-link--current-page{
    box-shadow: 0 2px #f39c12;    
    margin: 2px;             
}
.page {
    padding: 0rem 2rem 2rem;
}

.content-focus {
    border-bottom: 3px solid #ccc;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-titles {
    border-top: 3px solid #f39c12;     
    text-align: right;                   
    width: 50%;
    font-size: 3em;
    margin-right: 2rem;
}

.content-title {
    max-width: 450px;
    margin-left: auto;
    font-weight: bold;                
    margin: 1rem 0;             
}

.content-title--sub{
    color:black;                
    font-size: 80%;                 
}
.content-picture {
    width: 50%;
    position: relative;                  
}



.rounded {
    border-radius: 0.625rem;
    overflow: hidden;
}

.picture {
    width: 100%;
    height: 21.875rem;
    flex:1;                              
}

.picture-float {
    float: left;
    margin-right: 15px;
    width:50%;
    height: 40%;
    border-radius: 5px;
    padding: 1em;
  }

.picture-desc{
    position: absolute;                         
    z-index: 20;                              
    bottom: 0;                        
    left:0;                        
    padding: 1rem;                         
    width: 100%;                               
    background-color: rgba(0, 0, 0, 0.5);     
    color: white;                            
    border-bottom-left-radius: 0.625rem;        
    border-bottom-right-radius: 0.625rem;   
}

.content-quote {
    border-top: 3px solid #ccc;
    margin-top: 2rem;
}

.content p {
    font-size: 1.1em;
    line-height: 1.5;
}

.content h3 {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.content ol {
    list-style-type: decimal;
    font-size: 1.1em;
    margin-left: 1.5em;
    line-height: 1.5;
}

article>.info,
.info {
    color: #f39c12;;
    font-size:2rem;
    text-align: center;
    margin:1rem auto;
}
.articles {
    margin-top: 5rem;
}

.articles-container {
    margin-top: 2rem;
    display: flex;        
    flex-wrap: wrap;
}

.hide {
    display: none;
}

.card {
    margin: 1rem;            
    width: 45%;             
}

.one-article{
    width:100%;
}

.card-title {
    margin: 2rem 1rem;
    font-size: 1.7em;
    font-weight: bold;
}

.card-content {
    padding: 0 1rem;
}

.card-content p {
    font-size: 1.1em;
    line-height: 1.5;
}

.card-footer {
    margin: 3rem 1rem 2rem 0;      
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.2em;
    background-color: #f39c12;                                      
    border-radius: 1.875rem;;                     
    margin: 0rem 0.375rem;                         
    transition: background-color 0.3s, color 0.3s; 
}

.btn:hover{
    background-color: black;
    color:#f39c12;
    transition: background-color 0.3s, color 0.3s; 
}

.footer {
    background: #ddd;
    padding: 4rem 2rem;
    text-align: center;
    color: black;
}
.container-video{
    position: fixed;
    z-index:50;
    bottom: 0;
    right: 3.938rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.5s ease;
}
.video {
    width:30rem;
}
.icone-chevron{
    width:2.5rem;
    transform:rotate(180deg);
    width:30px;
    height:30px;
}
.hidden {
    bottom:-270px;
}
.chevron-up{
    transform:rotate(180deg);
}
@media (max-width: 1200px){
    .content-focus, .articles-container {
        display:block;
    }

    .content-titles {
        width: auto;
        text-align: center;
        margin-right: 0;
    }

    .content-title {
        max-width: none;
    }

    .content-picture, .card {
        width: auto;
    }
    
}

@media (max-width: 900px){
    .header {
        position:static;
        width:auto;
        float:none;
        margin-left:0;
        height:10.625rem;
    }

    .container {
        width:96%;
        padding-left:0;
    }

    .page {
        padding: 0 1rem;
    }

    .nav {
        padding: 1rem;
    }

    .nav .title {
        display:none;
    }

    .nav-links {
        margin-top:0;
        display:flex;
    }

    .nav-item {
        width:calc(33.3333% - .5rem);
        text-align: center;
    }

    .nav-item-link {
        margin-bottom: 0;
    }
}

@media(max-width:740px){
    .nav-links {
        display:flex;
        flex-direction:column;
    }
    .page {
        margin-top:9rem;
    }
    .nav-item {
        width:100%;
    }
    .card-footer {
        display: flex;
        flex-direction: column;
    }
    .btn {
        margin-bottom: 1rem;
    }
    .video {
        width:15rem;
    }
}